# A commit.log nem kell:
commit.log

# Nincs szükség a *.log állományokra:
*.log

# Nem commitolom az anonym_* könyvtárakat és tartalmukat:
anonym_*/*

# Nincs szükség az adatokra, és a kimenetekre se:
datas/*
output/*
