# A commit.log nem kell:
commit.log

# A szokásos szükségtelen LaTeX generálmányok:
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc

# Nem kell nekünk a magyar.ldf a repóba:
magyar.ldf

# Nem kell a texcolors se:
doc/texcolors.sty

# Nincs szükség a *.log állományokra:
*.log

# Nem commitolom az anonym_* könyvtárakat és tartalmukat:
anonym_*/*

# Nincs szükség az adatokra, és a kimenetekre se:
datas/*
output/*
datas_wp/*
output_wp/*

# Az IQN azonosítókat anonimizáló függvényt kihagyjuk a játékból:
src/anonym_iqn.R
